@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--Red);
  background-image: url(./images/bg-intro-desktop.png);
  color: #fff;
}

p {
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.sign-up {
  margin: 0 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 3.5rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn.try-free {
  background-color: var(--Blue);
  color: #fff;
  font-weight: 600;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.free-cond {
  font-weight: 400;
  color: var(--Grayish-Blue);
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  width: 100%;
}

input {
  margin-bottom: 1.5rem;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid var(--Grayish-Blue);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}
.err {
  color: var(--Red);
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-top: -1rem;
}

.off {
  position: absolute;
  left: -9999px;
}

.invalid {
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  border-color: var(--Red);
}

.btn.free-trial {
  color: #fff;
  background-color: var(--Green);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn.free-trial:hover {
  opacity: 0.8;
}

.agreement {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: var(--Grayish-Blue);
  text-align: center;
}

.terms {
  color: var(--Red);
}

@media (max-width: 768px) {
  html,
  body {
    line-height: 1.2;
    background-image: url(./images/bg-intro-mobile.png);
  }

  .sign-up {
    margin: 10% 5%;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .sign-up-content {
    text-align: center;
    padding-right: 0;
  }

  form {
    padding: 2rem 1.5rem;
  }

  .description {
    padding-top: 1.5rem;
    font-size: 1.1rem;
  }
}
